:root{
    --IRIS: #4d5ae5;
    --NAVY-BLUE: #2e2f42;
}

/*HEADER*/
/*logo, menu link, contact*/
.flex-container{
    display:inline-flex;
    justify-content:space-between;
    gap: 40px;
  
}

.header-link{
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-left: 156px;
}
.header-link{
    gap:76px;
}

.menu{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.menu{
    display: inline-flex;
    justify-self:flex-start;
    align-items:center;
    gap: 40px;
}

.contact{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
.contact{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px; 
}

a{
    text-decoration: none;
    color:#2e2f42;
}
a:hover{
    cursor: pointer;
}
.my-studio{
    color:#4d5ae5;
}   

.menu{
    text-align: left;
    padding:0;
    
}
.contact{
    text-align: left;
    padding:0; 
}
ul{
    list-style: none;
    text-align: left;
    padding:0;
 }

.list {
    list-style:none;
    display: flex;
    text-align: center;  
}
li{
    text-align: center;
}

/*hero section*/
h1{
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}

.hero{
    text-decoration: none;
    color:#fff;
}

.hero{
    background: linear-gradient( rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/people-office.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.my-btn{
    background-color:var(--IRIS, #4D5AE5) 
}

.my-btn{
    border-radius: 4px;
    padding:16px 32px;
    font-size:16px;
    gap: 10px;
}

.my-btn{
    display: inline-flex;
    align-items: flex-start;    
}

.my-btn{
    text-decoration: none;
    color:#fff; 
}

.my-btn:hover{
    cursor: pointer;
    background-color: #2e2f42;
}

/*BODY*/
/*benifit section*/
h2{
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.images-icon{
    align-items: center;
}

.benefit{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.benefit{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.device{
    text-align: left;
    padding-top: 100px;
    background:#FFF;
}
.device{
    display: flex;
    padding-bottom: 100px;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.teams{
    font-family: Roboto;
    background: var(--CLOUD, #F4F4FD);
}

.teams{
    display: flex;
    padding-top: 232px;
    padding-bottom: 120px;
    flex-direction:inherit;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-mark{
    background:white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px;
}

.team-tom{
    background:white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px;
}
.team-camilla{
    background:white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px;
}
.team-daniel{
    background:white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px;
}

.customers{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.customers{
    padding-top: 120px;
}

.customer-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 24px;
    padding-bottom: 120px;
}

/*FOOTER*/
footer{
    background-color:#2e2f42;
    text-decoration:none;
    color:#fff  
}

.footer-link{
    display: inline-flex;
    padding-left: 156px;
    padding-right: 1020px;
    padding-top: 140px;
    font-family: Roboto;
}

.footer-text{
    display: inline-flex;
    padding-left: 156px;
    padding-right: 1020px;
    padding-bottom: 100px;
    font-family: Roboto;
}

.span{
    display: inline-flex;
    justify-content: center;
}

.logo{
    text-decoration: none;
    color: var(NAVY-BLUE);
}

.logo span{
    color: var(IRIS);
}
